<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost")
        return;

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + "neatio" + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 <!-- if you want to use giscus -->
<!-- <div class="giscus_comments"> -->
<!--     <script src="https://giscus.app/client.js" -->
<!--         data-repo="" -->
<!--         data-repo-id="" -->
<!--         data-category="" -->
<!--         data-category-id="" -->
<!--         data-mapping="" -->
<!--         data-reactions-enabled="1" -->
<!--         data-emit-metadata="0" -->
<!--         data-input-position="top" -->
<!--         data-theme="preferred_color_scheme" -->
<!--         data-lang="en" -->
<!--         data-loading="lazy" -->
<!--         crossorigin="anonymous" -->
<!--         async> -->
<!--     </script> -->
    <!-- {{/* "assets/giscus_custom.css" | absURL */}} -->
<!-- </div> -->
<!-- <script async> -->
<!--     // set theme based on localStorage pref-theme -->
<!--     document.querySelector("div.giscus_comments > script").setAttribute('data-theme', localStorage.getItem('pref-theme') ? localStorage.getItem('pref-theme') : (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')) -->
<!--     // change theme on theme toggle click -->
<!--     document.querySelector('#theme-toggle').addEventListener('click', () => { -->
<!--         let g = document.querySelector('iframe.giscus-frame') -->
<!--         if (g) { -->
<!--             g.contentWindow.postMessage({ -->
<!--                 giscus: { -->
<!--                     setConfig: { -->
<!--                         theme: localStorage.getItem('pref-theme') ? ((localStorage.getItem('pref-theme') === 'dark') ? 'light': 'dark') : (document.body.className.includes("dark") ? 'light' : 'dark') -->
<!--                     } -->
<!--                 } -->
<!--             }, 'https://giscus.app'); -->
<!--         } -->
<!--     }) -->
<!-- </script> -->
